html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222;

  padding: 3rem;
}

@media (prefers-color-scheme: light) {
  html {
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
  }
}
